    *{
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
        list-style: none;
        font-family: 'Poppins', sans-serif;

    }
    .navbar{
        width: 100%;
        height: 80px;
        background-color: #fee;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: #000;
    }
    .menu ul{
        display: flex;
        align-items: center;
    }
    .menu ul li a{
        text-decoration: none;
        color: #000;
        padding: 5px 12px;
        letter-spacing: 2px;
        font-size: 18px;
    }
    .menu ul li a:hover{
        border-bottom: 4px solid #000;
        transition: 0.4s;
    }
    .signup button{
        text-decoration: none;
        color: #000;
        font-size: 18px;
        font-weight: bold;
        border-radius: 12px;
        padding: 12px 30px;
        border: 2px solid #d2250e;
    }
    .signup: button hover{
        background-color: red;
        transition: 0.6s;
    }
    .body{
        width: 100%;
        height: 90vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-image: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)),url(img1.jpg);
        background-position: center;
        background-size: cover;
    }
    .heading{
        width: 30%;
        text-align: center;
        color: #fff;
    }
    .heading h1{
        font-size: 40px;
    }
    .heading a{
        text-decoration: none;
        color: #000;
        font-size: 25px;
        font-weight: bold;
        border-radius: 45px;
        padding: 14px 50px;
        background-color: #fff;
    }
    .heading a:hover{
        letter-spacing: 3px;
        transition: 0.6s;
    }
    .tours{
        width: 70%;
        display: flex;
        justify-content: space-around;
    }
    .places{
        display: inline;
        text-align: center;
        border-radius: 12px;
    }
    .places h2{
        color: red;
        font-size: 35px;
        letter-spacing: 3px;
        border-radius: 1px;
        padding: 30px 30px;
        background-color: #000;
    }
    .places a{
        text-decoration: none;
        color: red;
        font-weight: bold;
        font-size: 18px;
        border-radius: 12px;
        padding: 12px 30px;
        background-color: #fff;
    }
    .places a:hover{
        background-color: #000;
        letter-spacing: 3px;
        transition: 0.6s;
    }
    .footer{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .footer a{
        text-decoration: none;
        color: green;
        font-size: 18px;
        font-weight: bold;
    }
    .footer a:hover{
        text-decoration: underline;
        transition: 0.4s;
    }


    .video-background {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        overflow: hidden;
        width: 100%;
        height: 100%;
        }
    .video-background video {
        min-width: 100%;
        min-height: 100%;
    }











