<!DOCTYPE html>
<html>
<head>
	<title>Travel Website</title>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../static/style.css">


</head>
<body>
    <div class="video-background">
        <video autoplay muted loop src="../static/front_page.mp4"></video>
    </div>
	<div class="navbar">
		<div class="logo">
			<h1>粤港澳大湾区旅游指南</h1>
		</div>
		<div class="menu">
			<ul>
				<li><a href="#">首页</a></li>
				<li><a href="#">服务</a></li>
				<li><a href="#">地区</a></li>
				<li><a href="http://127.0.0.1:5000/phoneus">联系我们</a></li>
			</ul>
		</div>
		<div>
			<button class="signup" id="loginButton">Sign Up</button>
			<button class="signup" onclick="adduser()">Register</button>
		</div>
	</div>
	<div class="body">

		<div class="heading">
			<h1>Travel With Us</h1>
			<br>
			<p>Welcome to the Guangdong-Hong Kong-Macao Greater Bay Area, a booming and dynamic region! </p>
			<br>
			<br>
			<a href="#">Learn More</a>
		</div>
		<div class="tours">
			<div class="places">
				<div>
				<h2>Macau</h2>
				<img src="../static/img_1.png" style="width: 300px; height: 250px; border-radius: 12px;">
				<br>
				<br>
					<a href="/Macau">Learn More</a>
				</div>
			</div>
			<div class="places">
				<h2>Hong Kong</h2>
				<img src="../static/img_2.png" style="width: 300px; height: 250px; border-radius: 12px;">
				<br>
				<br>
				 <a href="/hongkong">Learn More</a>
			</div>
			<div class="places">
				<h2>Guang Zhou</h2>
				<img src="../static/img.png" style="width: 300px; height: 250px; border-radius: 12px;">
				<br>
				<br>
				<a href="http://127.0.0.1:5000/guangzhou">Learn More</a>
			</div>
		</div>
	</div>
	<div class="footer">
		<a href="#">Copyright</a>
		<a href="#">Terms and Conditions</a>
		<a href="#">Privacy Policy</a>
		<a href="#">Cookies</a>
		<a href="#">Complaints</a>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
$(document).ready(function(){
    $("#loginButton").click(function(){
        var username = prompt("请输入您的用户名：");
        var password = prompt("请输入您的密码：");
        var data = {'username': username, 'password': password};

        if(username && password) {
            $.ajax({
                url: "/login",
                type: "POST",
                data: JSON.stringify(data),
                contentType: "json",
                dataType: "json",
                success: function(response) {
                    if(response.success) {
                        alert("登录成功");
                        var userInfo = "欢迎，" + username + "！";
                        var userInfoElement = $("<div>").text(userInfo);
                        $("#loginButton").replaceWith(userInfoElement);
                    } else {
                        alert("登录失败：" + response.message);
                    }
                },
                error: function(xhr) {
                    alert("登录错误：" + xhr.responseText);
                }
            });
        } else {
            alert("用户名和密码不能为空");
        }
    });
});

	function adduser(){
	 	var username = prompt("请输入您的用户名：");
      	var password = prompt("请输入您的密码：");
        var data = {'username': username, 'password': password};
        if(username && password){
                $.ajax({
                url: "/register",
                type: "POST",
                data: JSON.stringify(data),
                contentType: "json",
                dataType: "json",
                success: function(response) {
                    alert("注册成功");
                },
                error: function() {
                    alert("错误" );
                }
           	 	});

		}else{
		alert("用户名和密码不能为空");
	}
}
    </script>
</body>
</html>